* {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    height: 150px;  
    /* border: 5px solid black; */
    /* background-color: red;
    background-image: url('../images/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: black url('../images/header.png') no-repeat center;
    background-size: cover;
}
#caixa {
    width: 50%;
    background-color: yellow;
    /* border: 3px solid black; */
    /* overflow:  ; */
    /* MARGIN */
    /* margin: 10px 15px 20px 20px; */
    margin: 20px auto;

    /* PADDING */ 
    /* padding: 10px 15px 20px 25px; */
    padding: 40px;
}